{erl_opts, [debug_info, {src_dirs, ["src", "src_test", "src_demo"]}]}.
{deps_dir, ["deps"]}.
{deps, [{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", "HEAD"}},
        {log4erl, ".*", {svn, "http://log4erl.googlecode.com/svn/trunk/", "HEAD"}},
        {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "HEAD"}}
]}.
