{"word", "demo", "get_word_frequency", true}.
{"tfidf", "demo", "get_inverse_document_frequency", true}.
{"cosine", "demo", "get_cosine_similarity", true}.
{"wordstatus", "demo", "get_word_status_frequency", true}.
{"pow", "test_spawn_multiple", "get_function_pow", true}.
{"sqrt", "test_spawn_multiple", "get_function_sqrt", true}.
{"reverse", "test_spawn_multiple", "get_function_reverser", true}.
{"short", "test_load", "get_function_short", true}.
{"long", "test_load", "get_function_long", true}.
{"original", "original", "get_function", true}.
{"manager", "original", "get_manager", false}.
{"urlsel", "original", "urlsel", false}.
{"rssfeed", "original", "rss_feed", false}.