{"word", "demo", "get_word_frequency"}.
{"tfidf", "demo", "get_inverse_document_frequency"}.
{"cosine", "demo", "get_cosine_similarity"}.
{"wordstatus", "demo", "get_word_status_frequency"}.
{"pow", "test_spawn_multiple", "get_function_pow"}.
{"sqrt", "test_spawn_multiple", "get_function_sqrt"}.
{"reverse", "test_spawn_multiple", "get_function_reverser"}.
{"short", "test_load", "get_function_short"}.
{"long", "test_load", "get_function_long"}.
{"original", "original", "get_function"}.
{"manager", "original", "get_manager"}.