{computation, "word", "demo", "get_word_frequency", true}.
{computation, "tfidf", "demo", "get_inverse_document_frequency", true}.
{computation, "cosine", "demo", "get_cosine_similarity", true}.
{computation, "wordstatus", "demo", "get_word_status_frequency", true}.
{computation, "pow", "test_spawn_multiple", "get_function_pow", true}.
{computation, "sqrt", "test_spawn_multiple", "get_function_sqrt", true}.
{computation, "reverse", "test_spawn_multiple", "get_function_reverser", true}.
{computation, "short", "test_load", "get_function_short", true}.
{computation, "long", "test_load", "get_function_long", true}.
{computation, "original", "original", "get_function", true}.
{computation, "manager", "original", "get_manager", false}.
{computation, "urlsel", "original", "urlsel", false}.
{computation, "rssfeed", "original", "rss_feed", false}.