body {
	width: 100%;
	height: 100%;
}

#title {
	
}

#form1div {
	float: left;
	width: 30%;
}

#form2div {
	float: left;
	width: auto;
	display: none;
}

#results {
	float: left;
	width: 100%;
	display: none;
}

#limitfield {
	width: inherit;
	display: none;
}
