body {
	width: 100%;
	height: 100%;
}

#title {
	
}

#form1div {
	float: left;
	width: 30%;
}

#form2div {
	float: left;
	width: auto;
	margin-left: 30px;
	display: none;
}

#results {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.result {
	float: left;
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
